<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.aimicor.sunthumb">
    <!-- hardware permissions go here e.g bluetooth, internet etc -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <!-- The below is for the splash screen and we need no action bar and the default theme -->
        <activity android:name=".SplashActivity"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Activity -->  
        <activity android:name=".MainActivity"/>
        <!-- Detail Activity -->
        <activity
                android:name=".DetailActivity"
                android:label="@string/title_activity_detail" />
    </application>

</manifest>